@import "vars";
@import "mixins";
@import "family";
@import "bootstrap/bootstrap";
@import "materialize";
@import "font";

#mtconnect {
	background: #ff0000;
	.component {
		margin-left: 20px;
	}
	ul {
		margin-left: 20px;
		ul {
			margin-left: 0;
		}
	}
}