@import "vars";
@import "mixins";
@import "family";
@import "bootstrap/bootstrap";
@import "materialize";
@import "font";

#mtconnect {
	.component {
		margin-left: 20px;
	}
	ul {
		margin-left: 20px;
		ul {
			margin-left: 0;
		}
	}
}
.line {
	fill: none;
	stroke: #000;
	stroke-width: 1.5px;
}